html {
    height: 100%;
    width: 100%;
}
@font-face{
    font-family: "Groupe";
    src:url("groupemedium-8mxgn.otf");
}
body{
    overflow:hidden;
    font-family: "Groupe";
}
#bg{
    position: absolute;
    width: 104%;
    filter: blur(4px);
    z-index: 0;
    margin-left: -2%;
    margin-top: -5%;
}
#barContainer{
    position: relative;
    top: 300px;
}
.bar{
    position: absolute;
    width: 100%;
    height: 60px;
    rotate: 45deg;    
    left: 10px;
    filter: blur(0.5px);
    animation-name: bars;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    background-color: rgba(255, 255, 255, 0.253); 
}
#bar1{
    animation-duration: 60s;
    
}
#bar2{
    animation-duration: 90s;
}
#bar3{
    animation-duration: 120s;
}
@keyframes bars {
    0% { left: -400px;}
    20% { left: -300px; }
    40% { left: -600px; background-color: rgba(255, 255, 255, 0.253); }
    60% { left: -500px; background-color: rgba(255, 110, 52, 0.363); }
    80% { left: -600px; background-color: rgba(255, 255, 255, 0.253); }
    100% { left: -400px; }
}

#mainLogo{
    position:absolute;
    height: 200px;
    left: 0px;
    bottom: 0px;
    z-index: 3;
    cursor: pointer;
}
#navLogo{
    position:absolute;
    height: 160px;
    right: 0px;
    top:-10px;
    z-index: 3;
    cursor: pointer;
    opacity: 50%;
}

#navLogo:hover{
    opacity: 100%;
}


@keyframes mainLogoAnimation {
    0%{height: 600px;left:28%;bottom: 10px;filter: blur(20px);}
    15%{height: 600px;left:28%;bottom: 10px;filter: blur(20px);}
    50%{height: 600px;left:28%;bottom: 10px;filter: blur(0px);}     
    60%{height: 200px;left:42%;bottom: -10px;}
    75%{height: 200px;left:42%;bottom: 0px;}
    80%{height: 200px;left:42%;bottom: 0px;}
    90%{height: 200px;left:-10px;bottom: 0px;}
    100%{height: 200px;left:0px;bottom: 0px;}
}

.center{
    width: 99%;
    text-align: center;
}
.title{
    color: white;
    font-size: 40px;
}
.triTitles{
    display: flex;
}
.triTitles,p{
    position: absolute;
    color: white;
    font-size: 40px;
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 200px solid white;
    border-left: 120px solid transparent; 
    border-right: 120px solid transparent;
    opacity: 50%;
    filter: blur(0.7px);
    cursor: pointer;
}

#tri1{
    right: 42%;
    top: 200px;
    transform: rotate(60deg);
    z-index: 2;
}
#tri2{
    right: 31%;
    top: 200px;
}
#tri3{
    right: 15.7%;
    top: 200px;
    transform: rotate(60deg);
}
#tri4{
    right: 4.7%;
    top: 200px;
}
@keyframes tri1a{
    0%{right: 23%;opacity: 0%;transform: rotate(0deg);}
    50%{right: 23%;opacity: 0%;transform: rotate(0deg);filter: blur(7px);}
    70%{right: 23%;opacity: 100%;transform: rotate(0deg);}
    80%{right: 23%;opacity: 80%;transform: rotate(0deg);filter: blur(0.7px);}
    90%{right: 42%;transform: rotate(0deg);}
    93%{right: 42.5%;transform: rotate(0deg);}
    95%{right: 42%;transform: rotate(0deg);}
    100%{right: 42%;transform: rotate(60deg);}
}
@keyframes tri2a{
    0%{right: 23%;opacity: 0%;transform: rotate(0deg);}
    50%{right: 23%;opacity: 0%;transform: rotate(0deg);filter: blur(7px);}
    70%{right: 23%;opacity: 100%;transform: rotate(0deg);}
    80%{right: 23%;opacity: 80%;transform: rotate(0deg);filter: blur(0.7px);}
    90%{right: 31%;}
    93%{right: 31.5%;}
    95%{right: 31%;}
    100%{right: 31%;}
}
@keyframes tri3a{
    0%{right: 23%;opacity: 0%;transform: rotate(0deg);}
    50%{right: 23%;opacity: 0%;transform: rotate(0deg);filter: blur(7px);}
    70%{right: 23%;opacity: 100%;transform: rotate(0deg);}
    80%{right: 23%;opacity: 80%;transform: rotate(0deg);filter: blur(0.7px);}
    90%{right: 15.7%;transform: rotate(0deg);}
    93%{right: 15.3%;transform: rotate(0deg);}
    95%{right: 15.7%;transform: rotate(0deg);}
    100%{right: 15.7%;transform: rotate(60deg);}
}
@keyframes tri4a{
    0%{right: 23%;opacity: 0%;transform: rotate(0deg);}
    50%{right: 23%;opacity: 0%;transform: rotate(0deg);filter: blur(7px);}
    70%{right: 23%;opacity: 100%;transform: rotate(0deg);}
    80%{right: 23%;opacity: 80%;transform: rotate(0deg);filter: blur(0.7px);}
    90%{right: 4.7%;transform: rotate(0deg);}
    93%{right: 4.3%;transform: rotate(0deg);}
    95%{right: 4.7%;transform: rotate(0deg);}
    100%{right: 4.7%;transform: rotate(0deg);}
}
@keyframes title{
    0%{opacity: 0%;}
    85%{opacity: 0%;}
    100%{opacity: 100%;}
}
@keyframes unTitle{
    0%{opacity: 100%;}
    15%{opacity: 0%;}
    100%{opacity: 0%;}
}

@keyframes triHover {
    from {
      opacity: 0.5;
      filter: blur(0.7px);
      border-bottom: 200px solid white;
      top: 200px;
    }
    to {
      opacity: 1;
      filter: blur(0);
      border-bottom: 200px solid orange;
      top: 176px;
    }
}
@keyframes triUnHover {

    from {
      opacity: 1;
      filter: blur(0);
      border-bottom: 200px solid orange;
      top: 176px;
    }
    to {
      opacity: 0.5;
      filter: blur(0.7px);
      border-bottom: 200px solid white;
      top: 200px;
    }
}



.Ntriangle{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 80px solid rgba(255, 255, 255, 0.664);
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent;
    opacity: 50%;
    filter: blur(1px);
    cursor: pointer;    
    animation-fill-mode: forwards;
    top: 30px;
    left: 30px;
}
.Ntriangle:hover{
    border-bottom: 80px solid orange;
    opacity: 100%;
    filter: blur(0px);
}
#navContainer{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navText{
    font-size: 20px;
    opacity: 0%;
}
#navWord{
    font-size: 20px;
    opacity: 100%;
}
#navTextCon{
    margin-top: 100px;
}   

@keyframes nav1a{
    0%{left: 30px;}
    50%{left: 650px;transform: rotate(0deg);top:30px;}
    100%{left: 450px;border-bottom: 80px solid rgb(255, 0, 0);}
}
@keyframes nav2a{
    0%{left: 30px;}
    50%{left: 650px;transform: rotate(0deg);top:30px;}
    100%{left: 600px;transform: rotate(58deg);top: 10px;}
}
@keyframes nav3a{
    0%{left: 30px;}
    50%{left: 650px;transform: rotate(0deg);top:30px;}
    100%{left: 725px;}
}
@keyframes nav4a{
    0%{left: 30px;}
    50%{left: 650px;transform: rotate(0deg);top:30px;}
    100%{left: 875px;transform: rotate(58deg);top: 10px;}
}


@keyframes nav1arev{
    100%{left: 30px;}
    50%{left: 650px;transform: rotate(0deg);top:30px;}
    0%{left: 450px;}
}
@keyframes nav2arev{
    100%{left: 30px;}
    50%{left: 650px;transform: rotate(0deg);top:30px;}
    0%{left: 600px;transform: rotate(58deg);top: 10px;}
}
@keyframes nav3arev{
    100%{left: 30px;}
    50%{left: 650px;transform: rotate(0deg);top:30px;}
    0%{left: 725px;}
}
@keyframes nav4arev{
    100%{left: 30px;}
    50%{left: 650px;transform: rotate(0deg);top:30px;}
    0%{left: 875px;transform: rotate(58deg);top: 10px;}
}


.border{
    position: relative;
    width: 100%;
    height: 60px;    
    transform: rotate(90deg);
    filter: blur(0.5px);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    background-color: rgba(255, 255, 255, 0.253); 
    right: 60%;
    animation-duration: 50s;
    z-index: 0;
}
#bord1{
    animation-name: bord1;
}
#bord2{
    animation-name: bord2;
}
#bord3{
    animation-name: bord3;
}

@keyframes bord1{
    10%{right: 0%;}
    30%{right: 2%;}
    50%{right: -1%;}
    70%{right: 1%;}
    90%{right: -2%;}
}
@keyframes bord2{
    5%{right: 20%;}
    25%{right: 22%;}
    45%{right: 19%;}
    65%{right: 21%;}
    85%{right: 18%;}
}
@keyframes bord3{
    15%{right: -20%;}
    35%{right: -21%;}
    55%{right: -18%;}
    75%{right: -22%;}
    95%{right: -19%;}
}